:root {
    --logo-gold: #D9B73D;
    --logo-grey: #4F5D89;
    --text: rgb(36, 34, 34);
    --bg-primary: #FEFEFF;
    --default-text: #333C51;
    --bg-other: #CACFD9;
    --bg-banner: #CACFD9;
}

html{
    height: 100%;
}
body {
    height: 100%;
    position: relative;
    background-color: var(--bg-primary);
	color: var(--text);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
@font-face {
    font-family: 'Mulish';
    src: local('Pacifico Regular'), url('/Mulish-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
.think {
    color: var(--logo-gold);
    font-weight: 900;
}
.sticky-top{
    background-color: #fff;
    padding-top: 20px;
}
.grey-grad{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(202,207,217,0.4) 100%);

    padding-top: 5rem;
    border-radius: 20px;
}

.bg-other{
    background-color: var(--bg-other);
}
.bg-gold{
    background-color: var(--logo-gold);
}
.text-blue{
    color: var(--logo-grey);
}
.text-logo-gold{
    color: var(--logo-gold)
}
.text-black{
    color: black;
}
.cta{
    transition: 0.5s;
}
.cta:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.big-gap{
    margin-top: 9rem !important;
}
.bg-dark{
    background-color: var(--default-text) !important;
}
#svelte-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}
#mark-down p{
    color: #fff;
    text-align: justify;
    font-size: 1.15rem;
    line-height: 1.5;
    margin-top: 1.8rem;
}
#mark-down img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;

}
#mark-down h2{
    text-align: center;
}
#mark-down h4{
    color: var(--logo-gold);
}
#mark-down ul li{
    color: #fff;
    font-size: 1.1em;
}
h1 {
    margin-top: 5rem;
    font-size: 3em;
    color: var(--logo-grey);
}

h2 {
    color: var(--logo-gold);
    font-size: 2.4em;
}

h3{
    font-family: 'Mulish', sans-serif;
}

h4, h6 {
    color: var(--logo-grey);
}
video {
    max-width: 750px;
    width: 100%;
    height: auto;
}
footer {
    margin-top: auto;
    border-top: var(--logo-gold) 5px solid;
}

a {
    color: var(--logo-gold);
}

select option{
    color: black;
}
.error-col {
    color: red;
}

.success-col {
    color: green;
}

.hidden {
    display: none;
}

/* Bootsrap mods */

.container-fluid{
    padding: 0;
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    font-size: small;
}

/* Google button & Devider */
.google-box{
    margin: 0 auto; 
    max-width: 392px; 
    width: auto;
}
.Sso__divider {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 28px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.Sso__dividerLine {
    border-top: 1px solid #edeff1;
    width: 40%;
}
.Sso__dividerText {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #878a8c;
    text-transform: uppercase;
}
.Sso__googleIdButton:before {
    background-color: #fff;
    border-radius: 3px;
    content: "";
    height: 46px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 46px;
}
.Sso__googleIdButton:after {
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 16px;
    position: absolute;
    width: 20px;
    background-image: url('https://strapi-upload-s3.glass.thinkteacher.co.za/media/google_8e57284397.svg');
}
.Sso__button:hover {
    color: #fff;
    background: #3394dc;
}
.Sso__googleIdButton{
    padding: 16px 0 16px 65px;
    position: relative;
    text-align: left;
}
.Sso__button {
    font-family: IBMPlexSans,sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 32px;
    color: #fff;
    display: inline-block;
    border: none;
    border-radius: 4px;
    text-align: center;
    background: #0079d3;
    text-transform: uppercase;
    cursor: pointer;
    line-height: unset;
    min-height: 35px;
    max-width: 392px;
    width: auto;
    min-width: 155px;
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    color: #0079d3;
    border: 1px solid #0079d3;
    display: block;
    height: auto;
    margin: 8px 0;
    padding: 12px 28px;
    width: 100%;
}

/* Icon */

.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon3 span {
    background: #0d0d0e;
}

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    background: var(--logo-gold);
}
    
.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    background: var(--logo-grey);
}
    
.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    background: var(--logo-gold);
}
    
.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    background: var(--logo-gold);
}
    
.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
    
.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    background: var(--logo-grey);
}